main section {
  display: flex;
}

main section div {
  background-color: #e7ffe7;
  border: 1px solid #008000;
  border-radius: 10px;
  width: calc(100% / 3 - 1rem); 
  margin-right: 1rem;
  text-align: center;
}

main section div:last-child {
  margin-right: 0;
}

main section div h2 {
  background-color: #008000;
  color: white;
  border-radius: 10px 10px 0 0;
  margin-top: 0;
  padding: 0.5rem;
}

main section div a img {
  border: 3px double #333;
  display: block;
  margin: 0 auto;
}

* {
  box-sizing: border-box;
}

body {
  font-size: 16px;
  line-height: 1.5;
  font-family: Verdana, sans-serif;
  margin: 0;
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

header, nav ul, #content-wrapper {
  width: 90%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #008000;
  text-decoration: none;
}

.container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

header {
  position: relative;
}
.logo {
    position: absolute;
    top: 0;
    left: 0;
    height: 50px;
}

header h1 {
    margin: 0;
    padding-left: 60px;
    line-height: 50px;
}

nav ul {
  padding-left: 50px;
}

nav {
  background-color: #008000;
}

nav ul {
  list-style: none; 
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline-block; 
}

nav ul li a {
  display: inline-block;
  padding: 1rem;
  color: white; 
  text-decoration: none; 
  font-weight: bold; 
}

nav ul li a:hover {
  background-color: black;
  color: #9ae39a; 
}

main article img {
  border: 3px double #333; 
  float: left;
  margin-top: 0.5rem;
  margin-right: 1rem;
  margin-bottom: 0.5rem;
}
